.App-header {
  margin-top: 30px;
}
.Emoji-books {
  font-size: 300px;
  display: block;
  margin: 0 auto;
}
body {
  max-width: 600px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  box-shadow: 5px;
}
